$dark: #333333;

$text-dark: $dark;
$text-light: rgba(250, 250, 250, .87);

$danger: #99304c;

$primary: #122849;
$accent: rgb(255, 175, 1);
$grey-light: lighten(#878787, 40%);
$grey: #878787;
$grey-dark: darken(#878787, 10%);

$success: #5a7e5a;

$border: $grey-light;

$small: 40rem;
$medium: 60rem;
