@import '../../../assets/scss/mixins';

.chat {
  position: fixed;
  top: 3rem;
  bottom: 4.75rem;
  right: 0;
  left: 0;
  h1 {
    padding: .75rem 1rem;
    margin: 0;
  }
  .chat-list {
    overflow: auto;
    height: 100%;
    padding: 1rem;
    div {
      span.info {
        font-size: .75rem;
        display: block;
        color: $text-dark;
        line-height: 1.25rem;
        i {
          font-size: .025rem;
        }
      }
      .chat-bubble {
        display: flex;
        justify-content: flex-start;
        color: $text-light;
        span.message {
          background: lighten($primary, 35%);
          padding: .5rem;
          border-top-right-radius: .5rem;
          border-bottom-left-radius: .5rem;
          border-bottom-right-radius: .5rem;
          margin-bottom: .75rem;
          span+img {
            display: block;
          }
          img {
            border-radius: 0;
            width: auto;
            max-width: 100%;
            height: auto;
            border-top-right-radius: .5rem;
            border-bottom-left-radius: .5rem;
            border-bottom-right-radius: .5rem;
          }
        }
        img.avatar {
          max-height: 3rem;
          border-radius: 10rem;
          margin-right: .5rem;
        }
      }
    }
    div:last-child span {
      margin-bottom: 0;
    }
    div.my-chat {
      span.info {
        float: right;
      }
      .chat-bubble {
        justify-content: flex-end;
      }
      span.message {
        background: lighten($grey, 65%);
        border-top-right-radius: 0;
        border-top-left-radius: .5rem;
        img {
          border-top-right-radius: 0;
          border-top-left-radius: .5rem;
        }
      }
      img.avatar {
        margin-right: 0;
        margin-left: .5rem;
      }
    }
  }
  .input-group {
    display: flex;
    align-items: center;
    border-top: solid 1px $accent;
    border-bottom: solid 1px $accent;
    margin: 0;
    padding: .5rem 1rem;

    .input-group-form {
      display: flex;
      align-items: center;
      flex:1;

      .content {
        margin: 0 1rem;
      }
      .file {
        margin: 0 1rem;
      }
    }
  }
}
