<div class="chat">
  <h1>Chat Room</h1>
  <div class="input-group">
    <button mat-icon-button (click)="toggleInputImage()">
        <mat-icon *ngIf="inputImage">camera_alt</mat-icon>
        <mat-icon *ngIf="!inputImage">edit</mat-icon>
    </button>
    <form class="input-group-form" [formGroup]="chatForm" (submit)="sendChat()">
      <input *ngIf="!inputImage" class="content" mat-input formControlName="content" type="text" spellcheck="true">
      <input *ngIf="inputImage" class="file" mat-input formControlName="file" type="file" accept="image/*" (change)="selectImage($event)">
      <button class="send" type="submit" mat-flat-button color="primary">Send</button>
    </form>
  </div>
  <div id="chats" class="chat-list">
    <div *ngFor="let chat of chats | async | reverse">
      <span>
        <div>
          <span class="info">{{chat.displayName || ''}} 
            <i *ngIf="chat.displayName && chat.timestamp"
              class="fa fa-circle" aria-hidden="true"></i> {{ chat.timestamp | date:'medium' }}</span>
        </div>
        <div class="chat-bubble">
          <img class="avatar" *ngIf="chat.photoURL" [src]="chat.photoURL"
            alt="avatar">
          <span class="message">
            <span *ngIf="chat.content">{{chat.content}}</span>
            <img *ngIf="chat.sentImage" src="{{chat.sentImage}}">
          </span>
        </div>
      </span>
    </div>
  </div>
</div>
