<main>
  <h1>User Profile</h1>
  <div class="content">

    <div class="card user" *ngIf="user">
      <h2 class="title">User Information</h2>
      <div class="provider" *ngFor="let provider of user.providerData">
        <div class="body">
          <div>
            <img *ngIf="provider.photoURL" [src]="provider.photoURL" alt="User profile photo">
          </div>
          <div>
            <h3>{{ getHumanReadableProvider(provider.providerId) }}</h3>
            <span>{{ provider.displayName }}</span>
            <span>{{ provider.email }}</span>
          </div>
        </div>
        <div class="actions" *ngIf="user.providerData.length > 1">
          <button mat-button color="primary" type="button" (click)="unlinkAccount(provider.providerId)">Unlink Account</button>
        </div>
      </div>
      <ng-container *ngIf="availableProviders.length > 0">
        <hr>
        <h3>Link Account</h3>
        <button mat-raised-button class="link-account" *ngFor="let provider of availableProviders" type="button" (click)="linkAccount(provider)" >{{ getHumanReadableProvider(provider) }}</button>
      </ng-container>
    </div>

    <div>
      <div class="card" *ngIf="hasEmailPassword">
        <h2 class="title">Change Email</h2>
        <form [formGroup]="emailForm" class="emailForm" (submit)="updateEmail()">
          <label>
            New Email
            <input type="email" autocomplete="email" formControlName="email">
          </label>
          <button mat-button color="primary" [disabled]="emailForm.invalid || !emailForm.value.email" type="submit">
            Save
          </button>
        </form>
      </div>

      <div class="card">
        <h2 class="title">{{ hasEmailPassword ? 'Update Password' : 'Set Password' }}</h2>
        <form [formGroup]="passwordForm" (submit)="updatePassword()">
          <!-- username is hidden, for password managers: https://www.chromium.org/developers/design-documents/create-amazing-password-forms -->
          <label class="username">email <input autocomplete="email" formControlName="email" tabindex="-1"></label>
          <span class="password-input">
            <label class="toggle">New Password</label>
            <mat-hint>Password must be 8 characters or longer.</mat-hint>
            <span>
              <input [type]="type" autocomplete="new-password" formControlName="password">
              <button mat-icon-button type="button" color="accent" (click)="toggleType()" class="toggle">
                <mat-icon *ngIf="type === 'password'">visibility</mat-icon>
                <mat-icon *ngIf="type === 'string'">visibility_off</mat-icon>
              </button>
              <button mat-button color="primary" [disabled]="passwordForm.invalid || !passwordForm.value.password" type="submit">Save</button>
            </span>
          </span>
        </form>
      </div>
    </div>
  </div>
  <div class="card danger">
    <h2 class="title">Delete Account</h2>
    <p>Deleting your account is very permanant. It cannot be undone!</p>
    <form [formGroup]="deleleteAccountForm" (submit)="deleteAccount()">
      <label>
        Please type the word <strong>DELETE</strong> in all uppercase below to confirm that you wish to delete this account.
        <input type="email" formControlName="confirm">
        <mat-error *ngIf="deleleteAccountForm.invalid && !deleleteAccountForm.pristine">Doesn't look quite rite, make sure the field says DELETE, all uppercase, with no space at the end.</mat-error>
      </label>
      <button mat-button color="primary" [disabled]="deleleteAccountForm.invalid" type="submit">Delete</button>
    </form>
  </div>
</main>