<div class="page">
  <header>
    <a [routerLink]="['/']" routerLinkActive="router-link-active">
      <img class="logo" src="../assets/img/logo.svg" alt="Andromeda" >
    </a>
    <nav>
      <ul>
        <li *ngIf="!(user | async)"><a [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a></li>
        <li *ngIf="(user | async)"><a [routerLink]="['/profile']" routerLinkActive="router-link-active">Profile</a></li>
        <li><a [routerLink]="['/contact']" routerLinkActive="router-link-active">Contact</a></li>
        <li *ngIf="(user | async)"><a [routerLink]="['/logout']" routerLinkActive="router-link-active">Logout</a></li>
      </ul>
    </nav>
  </header>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <footer>
    <a href="andromeda16.com/accessibility-statement" target="_blank" rel="noopner">Accessibility Statement</a>
    <span>
      &copy; 2019 <span *ngIf="startYear !== currentYear">- {{ currentYear }}</span>
      <a href="andromeda16.com" target="_blank" rel="noopner">Andromeda</a>
    </span>
  </footer>
</div>