@use './assets/scss/colors';
@import '~@angular/material/theming';
@import './assets/scss/theme';
@import './assets/scss/forms';
@import '~firebaseui/dist/firebaseui.css';


* { box-sizing: border-box; }
*:focus {
  outline: none;
  outline-color: rbga(0, 0, 0, 0);
}

.material-icons {
  direction: ltr;
  display: inline-block;
  font-family: 'Material Icons';
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Helvetica Neue", sans-serif;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  color: rgba(0, 0, 0, .87);
}

html, body,
div, span, pre, code, button, a,
article, section, main nav, header, footer,
h1, h2, h3, h4, h5, h6,
form, legend, label, input, textarea, select,
ul, ol, li, dl, dd, dt {
  box-sizing: border-box;
}

main {
  margin: 5rem 2rem 2rem;
}

.sr-only {
  position: absolute;
  top: -999rem;
  left: -999rem;
}

a:link,
a:visited {
  color: colors.$primary;
  text-decoration: none;
  &.router-link-active {
    color: colors.$grey-dark;
  }
}

a:hover,
a:focus {
  transition: all ease-in-out 150ms;
  color: colors.$accent;
  text-decoration: underline;
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  &:hover, &:focus {
    background: darken(#0A3F7F,10%);
  }
}

.router-link-active {
  color: colors.$accent;
}

h1 {
  font-size: 1.5rem;
  color: colors.$primary;
  font-family: 'Baumans', cursive;
  padding: .75rem 1rem;
  margin: 0;
  text-shadow: 0 0 3px white;
}

h2 {
  font-size: 1.75rem;
  color: colors.$primary;
  font-family: 'Baumans', cursive;
}

h3 {
  font-size: 1.0625rem;
  color: colors.$grey;
  letter-spacing: .0625rem;
  font-variant: small-caps;
}

h4 {
  font-size: 1rem;
  color: colors.$grey;
  font-weight: normal;
}

.snackbar-error {
  background: colors.$danger;
  color: white;
  button {
    color: white;
    background: darken(colors.$danger, 10%);
  }
}

.snackbar-success {
  background: colors.$primary;
}

.snackbar-info {
  background: colors.$accent;
  color: colors.$grey-dark;
  button {
    color: colors.$grey-dark;
    background: darken(colors.$accent, 10%);
  }
}

.chat, .search {
  position: fixed;
  top: 3rem;
  bottom: 4.75rem;
  right: 0;
  left: 0;
}

.chat-list {
  overflow: auto;
  scroll-behavior: smooth;
  height: 100%;
  padding: 1rem 1rem 10rem;
}

.message {
  margin-bottom: 2rem;
  display: grid;
  grid-column-gap: .25rem;
  grid-row-gap: .5ex;
  grid-template-columns: 3rem 1fr;
  grid-template-areas: 'image bubble'
                       'image info';
}
img.avatar {
  width: 3rem;
  border-radius: 50%;
  grid-area: image;
  margin-top: .125rem;
}
.chat-bubble {
  grid-area: bubble;
  & > div {
    min-height: 1.5rem;;
    display: inline-block;
    background: #ffea95;
    padding: .5ex 1ch;
    border-radius: 0 4px 4px 4px;
    position: relative;
    &::before {
      content: '';
      width: 1.5rem;
      height: 1.5rem;
      display: inline-block;
      background: url('assets/img/bubble-left.svg');
      background-size: contain;
      position: absolute;
      left: -1.5rem;
      top: 0;
    }
  }
  img {
    width: 100%;
    max-width: 100%;
    display: block;
    margin: 1ex auto;
  }
}
.info  {
  grid-area: info;
  font-size: .75rem;
}

.message.my-chat {
  grid-template-columns: auto 3rem;
  grid-template-areas: 'bubble image'
                       'info image';
  .chat-bubble {
    text-align: right;
    & > div {
      background-color: #dceaff;
      border-radius: 4px 0 4px 4px;
      &::before { content: none }
      &::after {
        background: url('/assets/img/bubble-right.svg');
        background-size: contain;
        content: '';
        width: 1.5rem;
        height: 1.5rem;
        display: inline-block;
        position: absolute;
        right: -1.5rem;
        top: 0;
      }
    }
  }
  .info { text-align: right; }
}
.input-group {
  display: flex;
  align-items: center;
  border-top: solid 1px colors.$accent;
  border-bottom: solid 1px colors.$accent;
  margin: 1rem 0 0;
  padding: .5rem 1rem;
  gap: 1ch;
  .input-group-form {
    display: flex;
    flex: 1;
    gap: 1ch;
    input { margin: 0; }
    button { flex-shrink: 0; }
  }
}

.mat-spinner { margin: 1rem auto; }
